header {
    background-color: rgb(116, 158, 90);
    padding: 20px;
    text-align: center;
    margin: 0;
    border: black 2px solid;
    border-radius: 10px;
    color: rgb(11, 41, 100);
    width: 100%;
}

body {
    background-color: rgb(1, 37, 24)
}

.paragraph {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 200;
    background-color: rgba(240, 196, 103, 0.589);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

}

#footer {
    background-color: rgb(116, 158, 90);
    padding: 20px;
    text-align: center;
    margin: 0;
    border-top: rgb(2, 46, 19) 15px solid;
    border-radius: 10px;
    color: rgb(212, 221, 239);
    width: 100%;
}


